<div class="product-list">




    <div class="overlay" *ngIf="showPopup">
        <div class="popup">
            <h2>Xác nhận</h2>
            <p>Thanh toán thành công!</p>
            <button (click)="closePopup()">OK</button>
        </div>
    </div>
    <div class="product" *ngFor="let product of products">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price | currency:'VND':'symbol' }}</p>
        <p>Category: {{ product.category.name }}</p>
        <p>Created At: {{ product.createdAt | date }}</p>

        <div class="images">
            <img *ngFor="let image of product.productImages" [src]="image.url" alt="{{ product.name }}" />
        </div>

        <div class="size-stock">
            <p *ngFor="let stock of product.productSizeStocks">
                Size: {{ stock.size }} - Stock: {{ stock.stock }}
            </p>
        </div>

        <!-- Thêm nút Add to Cart -->
        <!-- <button (click)="addToCart(product, 1)">Add to Cart</button> -->

        <a [routerLink]="['/cart']" class="product-link">
            <button (click)="addToCart(product, 1)" class="add-to-cart-btn">
                Add to Cart
            </button>
        </a>


    </div>
</div>

<!-- payment-result.component.html -->