.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
        /* Căn giữa theo chiều ngang */
    align-items: center;
        /* Căn giữa theo chiều dọc */
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
}

.product h3 {
    margin: 0;
    font-size: 1.5rem;
}

.images img {
    width: 100px;
    height: auto;
    margin-right: 5px;
}

.size-stock p {
    margin: 5px 0;
}

.product-link {
    text-decoration: none;
}

.add-to-cart-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #218838;
}